SSH_CLIENT_DST_CONFIG_DIR="/home/range42-operator/.ssh"
INFRASTRUCTURE_PROXMOX_ADDRESS="10.0.0.10"
DEPLOYER_CLI_IP="10.0.0.11"
PROXMOX_API_HOST="10.0.0.10:8006"
PROXMOX_API_USER="root@pam"
PROXMOX_API_TOKEN_ID="range42_api_main"
PROXMOX_API_TOKEN_SECRET="<proxmox_api_token_secret>"
